.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20%;
}
body {
  background-color: #4a90d9;
  font-family: "Source Sans Pro", "Source Sans", sans-serif;
  color: white;
}
p {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-shadow: 0px 0px 1px #999;
  font-size: 2EM;
  text-align: center;
}
